<!DOCTYPE html>
<html lang="en">
<%- include('includes/head.ejs') %>
<head>
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
  <div class="container">
    <img src="img/demise.png" class="center">
    <a href="/players"><button class="btn" style="left: 20%;">Players</button></a>
    <a href="/lives"><button class="btn" style="left: 40%;">Lives</button></a>
    <a href="/streams"><button class="btn" style="left: 60%;">Streams</button></a>
    <a href="/apply"><button class="btn" style="left: 80%;">Apply</button></a>
  </div>

  <div class="rest">
    <p>Smp demise is a private modded streamer smp where players only have a max of 3 lives. It's owners are <a href="https://google.com" style="color: yellow;">Yellowy</a>, <a href="https://google.com" style="color: red;">RoseJade (RJ)</a>, and <a href="https://google.com" style="color: blue;">Julia</a>.</p>
  </div>
</body>
</html>